<%= decidim_form_for(@form, url: configuration_path, html: { class: "form edit_metabase_configuration" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t("decidim.admin.metabase.title.configuration") %></h2>
    </div>
    <div class="card-section">
      <div class="row column">
        <%= f.text_field :login %>
      </div>
      <div class="row column">
        <%= f.password_field :password, value: @form.password %>
      </div>
      <div class="row column">
        <%= f.text_field :dashboard_ids %>
        <p><%= t ".help_text" %></p>
      </div>
    </div>
  </div>
  <div class="button--double form-general-submit">
    <%= f.submit t(".update") %>
  </div>
<% end %>
